.btn,
div,
form,
input{
  margin: 10px;
}

h2 {
  margin-left: 20px;
}

label {
  margin-left: 10px;
  font-size: 18px;
}

.gif-div {
  float: left;
  margin: 20px;
}

body {
  background-image: url("../images/world-physical-map.jpg");
  background-size: 300px 150px;
}